* {
    margin:0;
    padding:0;
    top:0;
}
body { 
   
   font-size: 10px;
   scroll-behavior: smooth;
   background-color: white;
   background-size: cover;
   
  }
  .dark-mode {
    background-color: rgb(20, 18, 18);
    color: white;
  }
  .cursor {
    width: 100px;
    height: 100px;
    border: 2px solid  rgb(4, 160, 160);
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim 1s infinite alternate;
    pointer-events: none;
}


@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}


.navbar-light {
  background-color: transparent;
}

.navbar-brand {
  color: rgb(4, 160, 160) !important;
  font-size: 2em;
  font-weight: bolder;
  font-family: 'Crete Round', serif;
}
.nav-link {
  color: rgb(24, 114, 231) !important;
  font-size: 2em;
 
  font-family: 'Crete Round', serif;
  margin-right: 20px;
 
 }
 .nav-link:hover {
   color:rgb(4, 160, 160) !important;
 }
#cnthi {
  border: 2px solid rgb(4, 160, 160);
  border-radius: 35px;
  padding: 6px 26px;
  color: rgb(4, 160, 160) !important;
  
}
#cnthi:hover {
  background-color: rgb(4, 160, 160);
  color: black !important;
}
.navbar-collapse {
  text-align: center;
}


.home-container h1 {
   
    font-size: 4em;
    margin-top: 70px;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 500;
}

.home-container img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
 
}
.home-container a {
  border: 2px solid rgb(4, 160, 160);
  padding: 10 20px;
  border-radius: 30px;
  font-size: 2em;
  text-decoration: none;
  padding: 4px 16px;
  font-family: 'Crete Round', serif;
}
.home-container a:hover {
  background-color:rgb(4, 160, 160) ;
  color: black;
}
.home-container {
   height: 100%;
   background-size: cover;
    
  
  }
 .home-container p {
    font-family: 'Alfa Slab One', cursive;
    margin-top:10px;
    font-size: 2em;
 }
.swtch {
   text-align: center;
}
.switch {
  position: relative;
  display: inline-block;
  
  width: 60px;
  height: 34px;
  
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(24, 114, 231);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(4, 160, 160);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(24, 114, 231);
}

input:focus + .slider {
  box-shadow: 0 0 1px b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.about-container {
  margin-top: 50px;
  margin-left : 0px;
  height: 100%;
  background-size: cover;
  
  margin-left: 50px;
  margin-right: 50px;
}


 .fa-sun {
  color: orange;
  font-size: 30px;
  padding: 0px 6px;
}
.fa-moon {
  
  font-size: 30px;
  padding: 0px 6px;
}

.about-container h1 {
        font-size: 4em;
         margin-top: 150px;
         text-align: center;
         font-family: 'Montserrat', sans-serif;
         font-weight: 900;
       
}
.about-container p {
  margin-top: 50px;
  font-family: 'Crete Round', serif;
  font-size: 2.5em;
  text-align:justify;
  font-weight: 500;


}
.about-container span {
  text-decoration: line-through red;
  text-decoration-thickness: 20%;

  
}
.about-container h1 span {
  color: rgb(160, 8, 8);
  text-decoration: none ;
}
.about-container img {

  
  margin-top: 0px;
  margin-left: 0px;

  
}


.html {width: 90%; background-color: rgb(4, 160, 160); 
  font-size: 2em;
  box-shadow: 10px 10px 5px black;
  -moz-box-shadow: 10px 10px 5px black;
  -webkit-box-shadow: 10px 10px 5px black;
  -khtml-box-shadow: 10px 10px 5px black;
}
.css {width: 90%; background-color: rgb(4, 160, 160);
font-size: 2em;
box-shadow: 10px 10px 5px black;
-moz-box-shadow: 10px 10px 5px black;
-webkit-box-shadow: 10px 10px 5px black;
-khtml-box-shadow: 10px 10px 5px black;}
.js {width: 50%; background-color: rgb(4, 160, 160);
font-size: 2em;
box-shadow: 10px 10px 5px black;
-moz-box-shadow: 10px 10px 5px black;
-webkit-box-shadow: 10px 10px 5px black;
-khtml-box-shadow: 10px 10px 5px black;}
.php {width: 50%; background-color: rgb(4, 160, 160);
font-size: 2em;
box-shadow: 10px 10px 5px black;
-moz-box-shadow: 10px 10px 5px black;
-webkit-box-shadow: 10px 10px 5px black;
-khtml-box-shadow: 10px 10px 5px black;}
.sql {width: 50%; background-color: rgb(4, 160, 160);
font-size: 2em;
box-shadow: 10px 10px 5px black;
-moz-box-shadow: 10px 10px 5px black;
-webkit-box-shadow: 10px 10px 5px black;
-khtml-box-shadow: 10px 10px 5px black;}
.ard {width: 90%; background-color: rgb(4, 160, 160); 
font-size: 2em;
box-shadow: 10px 10px 5px black;
-moz-box-shadow: 10px 10px 5px black;
-webkit-box-shadow: 10px 10px 5px black;
-khtml-box-shadow: 10px 10px 5px black;}

.rasp {width: 90%; background-color: rgb(4, 160, 160);
font-size: 2em;
box-shadow: 10px 10px 5px black;
-moz-box-shadow: 10px 10px 5px black;
-webkit-box-shadow: 10px 10px 5px black;
-khtml-box-shadow: 10px 10px 5px black;}
.cplus {width: 50%; background-color: rgb(4, 160, 160);
font-size: 2em;
box-shadow: 10px 10px 5px black;
-moz-box-shadow: 10px 10px 5px black;
-webkit-box-shadow: 10px 10px 5px black;
-khtml-box-shadow: 10px 10px 5px black;}
.phyton {width: 40%; background-color: rgb(4, 160, 160);
font-size: 2em;
box-shadow: 10px 10px 5px black;
-moz-box-shadow: 10px 10px 5px black;
-webkit-box-shadow: 10px 10px 5px black;
-khtml-box-shadow: 10px 10px 5px black;
}
.bootstrap {
  width: 90%; background-color: rgb(4, 160, 160);
font-size: 2em;
box-shadow: 10px 10px 5px black;
-moz-box-shadow: 10px 10px 5px black;
-webkit-box-shadow: 10px 10px 5px black;
-khtml-box-shadow: 10px 10px 5px black;
}




.sk-container {
  
 
  background-size: cover;
  height: 100%;
  
  margin-left : 20px;
}
.sk-design img {
  
  border-radius: 50%;
  
  opacity: 0.5;
  
}
.sk-design p {
  font-size: 2em;
  font-family: 'Crete Round', serif;
  font-weight: bold;
}
.skill-container p {

  font-family: 'Crete Round', serif;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 4px;
}
.skillse {
   font-size: 2.4em;
   font-family: 'Crete Round', serif;
   text-align: right;
   
}
.skill-container img {
    
     margin-top: 20px;
    
    
}

.fa-code {
  font-size: 150px;
  color: rgb(4, 160, 160);
}
.fa-tools {
  font-size: 150px;
  color: rgb(4, 160, 160);
  animation-duration: 10s;
}
.fa-comments {
  font-size: 150px;
  color: rgb(4, 160, 160);
}
.fa-laptop-code {
  font-size: 150px;
  color: rgb(4, 160, 160);
}
.fa-animation:before {
  animation-duration: 2s;
  animation-iteration-count: infinite;  
}
.fa-animation-comments:before {
  animation-name: comments;
}
@keyframes comments {
  50%  {content: '\f0e6';}
}
.project-container {
  margin-top: 100px;
  margin-left:20px;
  margin-right: 20px;
 
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  
  
}


.project-container a {
  margin-right: 20px;
  margin-left: 20px;
  
  font-size: 2em;
  text-decoration: none;
  border: 2px solid black;
  padding: 0px 16px;
  border-radius: 20px;
}

.project-container h1 {
  

  font-family: 'Crete Round', serif;
  font-size: 3em;
}
.project-container h2 {
 
  font-family: 'Alfa Slab One', cursive;
  font-size: 5em;
}
.project-container img {
  border : 2px solid black;
}
.ct-conts {
  margin-left: 50px;
  margin-right:50px;
  height: 100%;

  background-size: cover;
  margin-top: 150px;
  
}
.ct-conts input {
  
  font-family: 'Crete Round', serif;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border: 2px solid black;
  font-size: 2em;
}
.ct-conts textarea {
  
  height: 250px;
  margin-top: 10px;
  border: 2px solid black;
  font-family: 'Crete Round', serif;
  font-size: 2em;
  width: 100%;
}
.ct-conts h1 {
  
  font-family: 'Alfa Slab One', cursive;
  font-size: 5em;
}
.row {
  margin-top: 100px;
}
.ct-conts button {
  margin-top: 10px;
    padding: 6px;
    color:  black;
    font-family: 'Crete Round', serif;
    border-radius: 5px;
    font-size: 2em;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    width: 100%;
}
.ct-conts button:hover{
     background-color: black;
     color: white;
}
.ct-conts iframe {
  
  margin-top: 10px;
}

footer {
  background-color: rgb(4, 160, 160);
 
  text-align: center;
  margin-top: 50px;
  
  
}
footer h2 {
  font-size: 2.5em;
  margin-top: 50px;
  font-family: 'Alfa Slab One', cursive;
  color:  black;
}
footer h4 {
  margin-top: 40px;
  font-size: 2em;
  font-family: 'Crete Round', serif;
  color:  black;
}
footer h5 {
  font-size: 2em;
  font-family: 'Crete Round', serif;
  color:  black;
}
footer p {
  font-size: 2em;
  font-family: 'Crete Round', serif;
  
  color: black;
  margin-top: 50px;
  
}

.fa-linkedin {
  color: white;
  font-size: 25px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px 12px;

}

.fa-facebook {
  color: white;
  font-size: 25px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px 14px;
  
}

.fa-twitter{
  color: white;
  font-size: 25px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px 10px;
 
}
.fa-youtube {
  color: white;
  font-size: 25px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px 12px;
}
.fa-github {
  color: white;
  font-size: 25px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px 10px;
}
footer i {
  margin-top: 40px;
 margin-right: 50px;
}
footer i:hover {
  color: black;
  background-color:white;
}



